.mainPhoto {
    position: absolute;
    left: 0;
    top: 70px;
    height: 92vh;
    z-index: -1;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    justify-content: flex-end;
}

main div {
    text-align: end;
    width: 100%;
}

.right {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 5%;
}

.firstRight {
    padding-top: 8%;
    height: 4rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 4px;
    font-weight: 100;
}

.secondRight {
    height: 3rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 200;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 95vw;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    line-height: 2rem;
    font-size: 1.1rem;
    margin-top: 7%;
    margin-bottom: 10%;
}

.aboutMeMain {
    font-size: 1.4rem;
    margin: 3vh 0;
}

.mainDiv {
    flex-basis: 38%;
    height: 100%;
}

.aboutMeText {
    text-align: center;
    text-align: justify;
    height: 80%;
}

@media(orientation: portrait) and (max-width: 1024px) {
    .mainPhoto {
        position: absolute;
        left: 0;
        top: 70px;
        height: 45vh;
        z-index: -1;
    }

    .mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    main {
        display: flex;
        flex-direction: row;
        height: 50vh;
        width: 100%;
        justify-content: flex-end;
    }

    main div {
        text-align: end;
        width: 100%;
    }

    .right {
        justify-content: center;
        align-items: flex-end;
        margin-right: 0%;
    }
}

@media (max-width: 930px) {
    .mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    main {
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100vw;
        justify-content: flex-end;
    }

    .right {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 0%;
    }

    .sectionNav {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .aboutMeMain {
        font-size: 1.3rem;
        margin: 3vh 0;
    }

    .aboutMeText {
        text-align: center;
        text-align: justify;
        height: 80%;
    }
}

@media (orientation: landscape) and (max-width: 768px) {
    .mainPhoto {
        display: none;
    }

    main {
        align-items: flex-end;
        background-image: url("../../../assets/images/women_640.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        overflow: hidden;
        width: 100%;
        height: 90vh;
        margin: 0;
    }

    .right {
        margin-right: 3%;
    }

    .firstRight {
        height: 2.5rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        letter-spacing: 5px;
    }

    .secondRight {
        height: 2rem;
        font-size: 1rem;
        letter-spacing: 2px;
        font-weight: 200;
        margin-bottom: 3%;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 80vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        margin-top: 7%;
        margin-bottom: 7%;
    }

    .aboutMeText {
        text-align: center;
        margin-bottom: 5%;
    }

    .mainDiv {
        margin-bottom: 10%;
    }
}


@media (orientation: portrait) and (max-width: 768px) {
    .mainPhoto {
        display: none;
    }

    main {
        align-items: flex-end;
        background-image: url("../../../assets/images/women_640.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        overflow: hidden;
        width: 100vw;
        height: 50vh;
    }

    .right {
        margin-right: 2%;
    }

    .firstRight {
        height: 2.5rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        letter-spacing: 5px;
    }

    .secondRight {
        height: 2rem;
        font-size: 1rem;
        letter-spacing: 2px;
        font-weight: 200;
        margin-bottom: 3%;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 80vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        margin-top: 7%;
        margin-bottom: 7%;
    }

    .aboutMeText {
        text-align: center;
        margin-bottom: 5%;
    }

    .mainDiv {
        margin-bottom: 10%;
    }
}

@media (max-width: 460px) {
    main {
        height: 60vh;
    }

    .firstRight {
        height: 2rem;
        font-size: 1.3rem;
        margin-bottom: 1rem;
        letter-spacing: 2px;
    }

    .secondRight {
        height: 2rem;
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin-bottom: 1%;
    }

}

@media (max-width: 375px) {
    main {
        width: 100vw;
        height: 75vh;
    }

    .aboutMeMain {
        font-size: 1.1rem;
        margin: 4vh 0;
    }

    .aboutMeText {
        text-align: center;
        text-align: center;
        height: 80%;
        font-size: 0.85rem;
    }
}

@media (max-width: 360px) {
    main {
        width: 100vw;
        height: 70vh;
    }

    .firstRight {
        height: 1.9rem;
        font-size: 1.1rem;
        margin-bottom: 0.6rem;
    }

    .secondRight {
        height: 1.5rem;
        font-size: 0.8rem;
    }

    .aboutMe {
        line-height: 1.3rem;
        font-size: 0.8rem;
        margin-top: 7%;
        margin-bottom: 7%;
    }

    .aboutMeMain {
        font-size: 1.1rem;
        margin: 4vh 0;
    }

    .aboutMeText {
        text-align: center;
        text-align: center;
        height: 80%;
        font-size: 0.8rem;
    }

}