.title {
    flex-basis: 10%;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    line-height: 1rem;
    margin: 0;
    display: flex;
    align-items: flex-end;
}

.mainImg {
    flex-basis: 50%;
    flex-basis: 60%;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainImg img {
    border: 1px solid black;
}

.techsIcons {
    width: 100%;
    height: 15%;
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
    margin-top: 7vh;
}

.techsIcons img {
    width: 80%;
    height: 100%;
}

.techsIcons div {
    flex-basis: 10%;
    height: 40%;
    display: flex;
    justify-content: center;
}

@media(max-width: 800px) {
    .techsIcons div {
        flex-basis: 15%;
        height: 30%;
    }
}

@media(max-width: 700px) {
    .title {
        flex-basis: 50%;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 0.8rem;
        text-align: center;
    }

    .mainImg {
        flex-basis: 60%;
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .mainImg img {
        width: 90%;
        height: 90%;
    }

    .techsIcons {
        width: 100%;
        flex-basis: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: center;
        margin: 3vh 0;

    }

    .techsIcons img {
        width: 100%;
        height: 100%;
    }

    .techsIcons div {
        flex-basis: 10%;
        height: 40%;
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 460px) {
    .title {
        letter-spacing: 7px;
        font-size: 0.75rem;
        margin-bottom: 1vh;
    }

    .mainImg {
        height: 90%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .mainImg img {
        width: 100%;
        height: 100%;
    }

    .techsIcons {
        width: 90%;
        height: 12%;
        margin-top: 2vh;
    }

    .techsIcons div {
        flex-basis: 10%;
        height: 80%;
    }

}

@media(max-width: 375px) {
    .title {
        letter-spacing: 7px;
        font-size: 0.85rem;
        flex-basis: 10%;
        margin-bottom: 2vh;
    }

    .mainImg {
        height: 100%;
        width: 90%;
        flex-basis: 60%;
    }

    .mainImg img {
        width: 100%;
        height: 100%;
    }

    .techsIcons {
        margin-top: 1vh;
        width: 90%;
        height: 15%;
        flex-basis: 15%;
    }

    .techsIcons div {
        flex-basis: 13%;
        height: 80%;
    }
}

@media(max-width: 360px) {
    .title {
        letter-spacing: 6px;
        font-size: 0.7rem;
    }

    .mainImg {
        height: 100%;
        width: 90%;
    }

    .mainImg img {
        width: 90%;
        height: 100%;
    }

    .techsIcons {
        width: 90%;
        height: 18%;
    }

    .techsIcons div {
        flex-basis: 13%;
        height: 85%;
    }
}