.mainPhoto {
    display: flex;
    height: 100vh;
}



main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

main div {
    text-align: end;
    width: 100%;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.firstRight {
    height: 4rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    letter-spacing: 4px;
}

.secondRight {
    height: 3rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 200;
}